<%= form_for @comments do |f| %>
  <%# f.hidden_field(:store_id, @store.id) %>
  <%= f.hidden_field :store_id, :value => @store.id %>
  <div class="field">
    <%= f.label :content, 'Write your comment' %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit "Send", class: "submit" %>
<% end %>