<div class="container">
  <h2>Add new store</h2>
  <%= form_for @store do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :headline %>
      <%= f.text_field :headline %>
    </div>

    <div class="field">
      <%= f.label :bio %>
      <%= f.text_area :bio %>
    </div>

    <div class="field">
      <%= f.label "Images" %>
      <%= f.file_field :images %>
    </div>

    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <div class="field">
      <%= f.label :price %>
      <%= f.number_field :price %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :number %>
      <%= f.number_field :number %>
    </div>

    <div class="field">
      <%= f.label :website %>
      <%= f.url_field :website %>
    </div>

    <div class="field">
      <%= f.label :twitter %>
      <%= f.url_field :twitter %>
    </div>

    <div class="field">
      <%= f.label :instagram %>
      <%= f.url_field :instagram %>
    </div>

    <div class="field">
      <%= f.label :snapchat %>
      <%= f.text_field :snapchat %>
    </div>

    <div class="field">
      <%= f.label :facebook %>
      <%= f.url_field :facebook %>
    </div>

    <div class="field">
      <%= f.label :extra_link %>
      <%= f.url_field :extra_link %>
    </div>

    <div class="field">
      <%= f.label :category_id, "Category" %>
      <%= f.collection_select :category_id, Category.all.collect, :id, :name, prompt: true %>
      <%# f.text_field :category_id %>
    </div>

    <div class="field">
    <%= f.label :tags_ids, "Tags" %> <br>
    <%= f.collection_check_boxes :tag_ids, Tag.where(category_id: 5), :id, :name %>
    </div>

    <%= f.submit "Add", class: "submit" %>
  <% end %>
</div>