<div class="content-div">
  <div class="content-div-header">
    <% if @store.images != "" && @store.images != nil %>
      <%= cl_image_tag @store.images %>
    <% end %>
    <div>
      <h2><%= @store.name %></h2>
      <h3><%= @store.headline %></h3>
    </div>

    <div class="contact">
      <p>Call Us: <a href="tel:<%= @store.number %>"><%= @store.number %></a></p>
      <a href="mailto:<%= @store.email %>">Email Us</a>
        
      <% if (@store.website != "" && @store.website != nil    ) %>
        <a href="<%= @store.website %>"><%= "#{@store.name}'s Website" %></a>
      <% end %>

      <% if (@store.snapchat != "" && @store.snapchat != nil  ) %>
        <p>Snapchat: @<%= @store.snapchat %></p>
      <% end %>

      <div class="social-media">
        <% if (@store.facebook != "" && @store.facebook != nil  ) %>
          <a target="_blank" href="<% @store.facebook %>"><i class="fab fa-facebook-f fa-2x"></i></a>
        <% end %>

        <% if (@store.instagram != "" && @store.instagram != nil    ) %>
          <a target="_blank" href="<%= @store.instagram %>"><i class="fab fa-instagram fa-2x"></i></a>
        <% end %>

        <% if (@store.twitter != "" && @store.twitter != nil    ) %>
          <a target="_blank" href="<%= @store.twitter %>"><i class="fab fa-twitter fa-2x"></i></a>
        <% end %>
      </div>

      <% if (@store.extra_link != "" && @store.extra_link != nil  ) %>
        <p>Other Links: <a href="<%= @store.extra_link %>"><%= @store.extra_link %></a></p>
      <% end %>
    </div>
    
  </div>
  <hr>
  <div class="content-div-body">
    <div class="basic-info">
      <p class="bio"><%= @store.bio %></p>
      
      <p><%= @store.price %></p>
      <p>City: <%= @store.city %></p>
      <% if @store.address != nil && @store.address != "" %>
        <p>Address: <%= @store.address %></p>
      <% end %>
      <div class="map-container">
        <h4>On Google Maps</h4>
        <%# <div class="map" id="map"></div> %>

<div  class="map" id="map" style="height:300px;width:650px;margin:0 auto; border: 1px solid black;" ></div>
  
      </div>
    </div>

    <hr>
    <div class="tags-div">
      <h5>Tagged With</h5>
      <% @store.tags.each do |tag|%>
      <li class="tags"><%= link_to tag.name, tag %></li>
      <% end %>
    </div>

    <hr>
    <div class="comments-div">
      <p>Rate: <%= rating_for @store, "name" %></p>
      <h5>Comments:</h5>
      <% @store.comments.each do |comment| %>
        <p>- <strong><%= comment.content %></strong> | BY: <%= comment.user.name%> </p>
      <% end %>
      
      <% if user_signed_in? %>
        <hr>
        <%= render partial: 'comments/form' %>
      <% end %>
    </div>
  </div>

</div>


<script>
  function initMap() {

    var myLatLng = {lat: <%= @store.latitude %>, lng: <%= @store.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      zoom: 9});

      var marker = new google.maps.Marker({
      map: map,
      position: myLatLng,
      title: "<%= @store.name %>"
      
    });
  }
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_k6CbjckRGweXSChHuMKc1tO3SqMn_4o&callback=initMap" async defer></script>