<div class="content-div"></div>
<div class="content-div-header">
  <%= cl_image_tag @store.images , class:"header-div__img" %>
  <h2><%= @store.name %></h2>
  <h3><%= @store.headline %></h3>
</div>

<hr>

<div class="basic-info">
  <p><%= @store.address %></p>
  <p><%= @store.bio %></p>
  <p><%= @store.price %></p>
  <% if (@store.website != "" && @store.website != nil    ) %>
    <a href="<%= @store.website %>"><%= "#{@store.name}'s Website" %></a>
  <% else %>
    <p>No Website</p>
  <% end %>
</div>

<div class="contact">

  <div class="contact__basic">
    <p>Call Us: <a href="tel:<%= @store.number %>"><%= @store.number %></a></p>
    <p>Email Us: <a href="mailto:<%= @store.email %>"><%= @store.email %></a></p>
  </div>

  <div class="contact__social-media">
    <% if (@store.facebook != "" && @store.facebook != nil  ) %>
      <p>Facebook: <a href="<% @store.facebook %>">
      <%= @store.facebook  %></a></p>
    <% end %>

    <% if (@store.snapchat != "" && @store.snapchat != nil  ) %>
      <p>Snapchat: @<%= @store.snapchat %></p>
    <% end %>

    <% if (@store.instagram != "" && @store.instagram != nil    ) %>
      <p>Instagram: <a href="<%= @store.instagram %>"><%= @store.instagram %></a></p>
    <% end %>

    <% if (@store.twitter != "" && @store.twitter != nil    ) %>
      <p>Twitter: <a href="<%= @store.twitter %>"><%= @store.twitter %></a></p>
    <% end %>

    <% if (@store.extra_link != "" && @store.extra_link != nil  ) %>
      <p>Other: <a href="<%= @store.extra_link %>"><%= @store.extra_link %></a></p>
    <% end %>
  </div>

</div>


<hr>

<div class="tags-div">
  <h5>Tagged With</h5>
</div>

<hr>

<div class="comments-div">
  <h5>Comments:</h5>
  <% @store.comments.each do |comment| %>
    <p><%= comment.content %> <strong>-<%= comment.user.name%></strong></p>
  <% end %>
  
  <% if user_signed_in? %>
    <hr>
    <%= render partial: 'comments/form' %>
  <% end %>
</div>
