
<div class="filter-bar">
  <div class="change-view">
    <p>Change View:</p>
    <button class="fas fa-map-marked toggle-btn" id="toggle-map-btn" onclick="toggleMapView()">
    </button>
  </div>
</div>
<hr>
<div class="all-stores-div" id="grid-view">
  <% @stores.each do |store| %>
    <a class="store-div" href=<%= "/stores/#{store.id}" %>>
      <img class="store-div__img" src="<%= store.images %>" alt="">
      <h2 class="store-div__title"><%= store.name %></h2>
      <p class="store-div__headline"><%= store.headline %></p>
    </a>
  <% end %>
</div>

<div  class="map" id="map" hidden></div>




<script>
  let mapIsToggled = false;
  
  function toggleMapView(){
    const btn = document.querySelector("#toggle-map-btn");
    const gridView = document.querySelector("#grid-view");
    const mapView = document.querySelector("#map");
    
    if(mapIsToggled){
      btn.classList.remove("fa-th-large");
      btn.classList.add("fa-map-marked");
      gridView.style.display = "block";
      mapView.style.display = "none";
    } else {
      btn.classList.remove("fa-map-marked");
      btn.classList.add("fa-th-large");
      mapView.style.display = "block";
      gridView.style.display = "none";
    }

    mapIsToggled = !mapIsToggled;
  }

  function initMap() {
    <%if @stores.last != nil %>
      var myLatLng = {lat: <%= @stores.last.latitude %>, lng: <%= @stores.last.longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        zoom: 9});
      <% @stores.each do |store| %>
        var myLatLng = {lat: <%= store.latitude %>, lng: <%= store.longitude %>};
        var  marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
          title: "<%= store.name %>"
        });
      marker.addListener('click', function() {
        var contentString = '<div id="content">'+
          '<h1><%= store.name %></h1>'+
          '<div>'+
          '<p><b><%= store.name %></b>, <%= store.bio %></p>'+
          '<p> <%= link_to store.name, store_path(store) %> </p>'+
          '</div>'+
          '</div>';

          var infowindow = new google.maps.InfoWindow({
          content: contentString
      });
        infowindow.open(map, this);
      });
      <% end %>
    <%end %>
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_k6CbjckRGweXSChHuMKc1tO3SqMn_4o&callback=initMap" async defer></script>