<!DOCTYPE html>
<html>
  <head>
    <title>ParyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Party Planner</h1>
    <nav>
      <ul>
        <li>
          <a href="/" rel="noopener noreferrer">Home</a>
        </li>
        <li>
          <%= link_to 'Places', '/stores?category=place' %>
        </li>
        <li>
          <%= link_to 'Foods', '/stores?category=food' %>
        </li>
        <li>
          <%= link_to 'Activities', '/stores?category=activity' %>
        </li>
        <li>
          <%= link_to 'Decorations', '/stores?category=decor' %>
        </li>
        <li>
          <%= link_to 'Staff', '/stores?category=staff' %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Login/Register', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
