<!DOCTYPE html>
<html>
  <head>
    <title>ParyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Grand+Hotel|Lobster|Norican|Pacifico|Rochester|Satisfy" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <img class="header__img" src="https://images-na.ssl-images-amazon.com/images/I/71CJrRfgP6L._SX425_.jpg" alt="">
    <h1 class="header__name">Party Planner</h1>
  <img class="header__img" src="https://images-na.ssl-images-amazon.com/images/I/71CJrRfgP6L._SX425_.jpg" alt="">
  </header>
    <nav class="main-nav">
      <ul class="main-nav__ul">
        <li class="main-nav__li">
          <a href="/" rel="noopener noreferrer">Home</a>
        </li>
        <li class="main-nav__li">
          <%= link_to 'Places', '/stores?category=place' %>
        </li>
        <li class="main-nav__li">
          <%= link_to 'Foods', '/stores?category=food' %>
        </li>
        <li class="main-nav__li">
          <%= link_to 'Activities', '/stores?category=activity' %>
        </li>
        <li class="main-nav__li">
          <%= link_to 'Decorations', '/stores?category=decor' %>
        </li>
        <li class="main-nav__li">
          <%= link_to 'Staff', '/stores?category=staff' %>
        </li>
        <% if user_signed_in? %>
          <li class="main-nav__li">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="main-nav__li">
            <%= link_to 'Login/Register', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </nav>
    <div class="main-page">
    <%= yield %>
    </div>
  </body>
</html>
