<!DOCTYPE html>
<html>
  <head>
    <title>ParyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Grand+Hotel|Lobster|Norican|Pacifico|Rochester|Satisfy" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <h1 class="header__name">Party Planner</h1>
      <nav class="main-nav">
        <ul class="main-nav__ul">
          <li class="main-nav__li">
            <a href="/" rel="noopener noreferrer">Home</a>
          </li>
          <% @categories.each do |cate| %>
            <li>
              <%= link_to cate.name, cate %>
            </li>
          <% end %>
          <li class="main-nav__li">
            <%= link_to 'Contact', contact_index_path %>
          </li>
          <li class="main-nav__li">
            <% if user_signed_in? %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'Login/Register', new_user_session_path %>
            <% end %>
          </li>
        </ul>
      </nav>

      <div class="nav-footer">
        <p>Copyright &copy; 2018 All Rights Reserved 3Amigos.</p>
      </div>
    </header>
    
    <div class="main-page">
      <%= yield %>
    </div>
  </body>
</html>
